swagger: '2.0'
info:
  title: OSU Events API
  description: Calendar event management for events.oregonstate.edu
  version: "1.0.0"
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/osu-events-api
host: api.oregonstate.edu
schemes:
  - https
basePath: /v1/calendar
consumes:
  - application/json  
paths:
  /events:
    get:
      tags:
        - events
      description: "Get all events. Can be filtered by parameters to specify format."
      produces:
        - application/json
      # TODO: add parameters
      #parameters:
      responses:
        200:
          description: "Successful response"
          schema:
            $ref: "#/definitions/ResultObjects"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
        - events
      description: "Add a new event"
      produces:
        - application/json
      parameters:
        - name: event
          in: body
          description: "JSON Representation of an event."
          required: true
          schema:
            $ref: "#/definitions/ResultObject"
      responses:
        201:
          description: "Event successfully created."
          schema:
            $ref: "#/definitions/ResultObject"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
  /events/{eventID}:
    get:
      tags:
        - events
      description: "Get a single event by ID"
      produces:
        - application/json
      parameters:
        - name: eventID
          in: path
          description: "ID of an event"
          required: true
          type: integer
      responses:
        200:
          description: "Successful response"
          schema:
            $ref: "#/definitions/ResultObject"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"        

    put:
      tags:
        - events
      description: "Update an existing event."
      produces:
        - application/json
      parameters:
        - name: eventID
          in: path
          description: "ID of an event"
          required: true
          type: integer
        - name: event
          in: body
          description: "JSON Representation of an event."
          required: true
          schema:
            $ref: "#/definitions/ResultObject"
      responses:
        200:
          description: "Event successfully updated."
          schema:
            $ref: "#/definitions/ResultObject"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"

    delete:
      tags:
        - events
      description: "Delete an existing event."
      parameters:
        - name: eventID
          in: path
          description: "ID of an event"
          required: true
          type: integer
      responses:
        204:
          description: "Event successfully deleted."
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
  /feed:
    get:
      tags:
        - events
      description: "Events feed for backend calendar vendor event ingress."
      produces:
        - text/csv
      responses:
        200:
          description: "Successful response"
          schema:
            type: string
        500:
          description: "Internal Server Error"
          schema:
            type: string

definitions:
  ResultObject:
    properties:
      data:
        $ref: "#/definitions/ResourceObject"
  ResultObjects:
    properties:
      data:
        type: array
        items:
          $ref: "#/definitions/ResourceObject"
  ResourceObject:
    properties:
      id:
        type: string
        example: 93f76811-adde-475f-90a2-e8a9c9aac680
        description: Version 4 UUID
      type:
        type: string
        example: events
      attributes:
        $ref: "#/definitions/Attributes"
      links:
        $ref: "#/definitions/SelfLink"
  Attributes:
    properties:
      title:
        type: string
      description:
        type: string
      location:
        type: string
      room:
        type: string
      address:
        type: string        
      city:
        type: string
      county:
        type: string
      state:
        type: string
      eventUrl:
        type: string
      photoURL:
        type: string
      facebookURL:
        type: string
      ticketURL:
        type: string
      ticketCost:
        type: string
      hashtag:
        type: string
      keywords:
        type: array
        items:
          type: string
      tags:
        type: array
        items:
          type: string
      group:
        type: string
      allowsReviews:
        type: boolean
      sponsored:
        type: boolean
      venuePageOnly:
        type: boolean
      excludeFromTrending:
        type: boolean
      allowUserActivity:
        type: boolean
      allowUserInterest:
        type: boolean
      visibility:
        type: string
      department:
        type: string
      contactName:
        type: string
      contactEmail:
        type: string
      contactPhone:
        type: string
      eventType:
        type: string
      eventTopic:
        type: string
      audience:
        type: string
      organization:
        type: string
      instances:
        type: array
        items:
          $ref: "#/definitions/EventInstance"
  EventInstance:
    properties:
      startTime:
        type: string
        format: date-time
      endTime:
        type: string
        format: date-time
  SelfLink:
    properties:
      self:
        type: string
        format: url
        description: Self link of resource
  Error:
    type: object
    properties:
      status:
        type: integer
        format: int32
      developerMessage:
        type: string
      userMesage:
        type: string
      code:
        type: integer
      details:
        type: string